@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: "Poppins", sans-serif;
}
.btn .btn-primary{
    background-color: #FFA652;
    color: white;
}
.navbar-nav .btn{
    margin-left: 20px !important;
    border: none;
    background-color: #FFA652;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 10px 30px;
}

.btn-primary{
    background-color: #FFA652;
    color: white;
    border: none;
}

.carousel-item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Couleur de la superposition semi-transparente */
  z-index: 1;
}

.carousel-caption.centered-caption {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
  z-index: 2; /* Assure que la légende est au-dessus de la superposition */
  width: 80%;
  color: white;
}
.carousel-caption h3{
    font-size: 60px;
    color: #FFA652; /* Jaune pour le titre */
    font-family: "Dancing Script", cursive;
}

.carousel-caption p{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.collapse .navbar-nav .nav-item .nav-link{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}

.navbar-toggler {
    border: none;
    outline: none;
}


.search a {
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    color: #000;
}

@media (max-width: 768px) {
    .search {
        flex-direction: column;
        align-items: flex-start;
    }


/*--------------------------------------------------------------
# About 2 Section
--------------------------------------------------------------*/
.about-2 .content {
  background-color: var(--surface-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-2 .content-subtitle {
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  display: block;
  color: var(--default-color);
}

.about-2 .content-title {
  color: var(--heading-color);
  font-size: 22px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.about-2 p {
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  color: var(--default-color);
}

.about-2 .btn-get-started {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  border-radius: 30px;
  padding: 8px 30px;
  font-family: "Poppins", sans-serif;
  border: 2px solid transparent;
  transition: 0.3s all ease-in-out;
  font-size: 14px;
}

.about-2 .btn-get-started:hover {
  border-color: var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
}

.about-2 .lead {
  line-height: 1.6;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--default-color);
}




@media (max-width: 1024px) {
    .carousel-caption h3{
    font-size: 50px;
}

.carousel-caption p{
    font-size: 30px;
}

.carousel-caption.centered-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Assure que la légende est au-dessus de la superposition */
  width: 80%;
  color: white;
}
}

@media (max-width: 991px) {
    .carousel-caption h3{
    font-size: 30px;
}

.carousel-caption p{
    font-size: 17px;
}

.carousel-caption.centered-caption {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Assure que la légende est au-dessus de la superposition */
  width: 80%;
  color: white;
}
}

@media (max-width: 600px) {
    .carousel-caption h3{
    font-size: 20px;
}

.carousel-caption p{
    font-size: 14px;
}

.carousel-caption.centered-caption {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Assure que la légende est au-dessus de la superposition */
  width: 80%;
  color: white;
}
}

@media (max-width: 460px) {
    .carousel-caption h3{
    font-size: 20px;
}

.carousel-caption p{
    font-size: 14px;
}

.carousel-caption.centered-caption {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Assure que la légende est au-dessus de la superposition */
  width: 80%;
  color: white;
}
}

.about-2 .btn-get-started{
background-color: #ffa652;
font-size: 16px;
font-family: "Poppins", sans-serif;
font-weight: bold;
}

.modal-header h5 {
    font-family: "Dancing Script", cursive;
}

.modal-footer {
    display: flex !important;
    visibility: visible !important;
    z-index: 1050;
    justify-content: flex-end;
}

.modal-footer button {
    visibility: visible !important;
    display: block !important;
}



.about-2 img{
    height: 40vh;
    width: 100%;
}

.contact .contact-form .btn{
background-color: #FFA652;
font-family: "Poppins", sans-serif;
border: none;
}

input:invalid, textarea:invalid {
    border-color: red;
}

input:valid, textarea:valid {
    border-color: green;
}

.footer{
    background-color: #333;
    color: #fff;
}